* {
  box-sizing: border-box;
}

.hideme {
  opacity: 0;
}

main {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Merriweather', Arial, serif;;
}

h1 {
  font-family: 'Damion', Arial, Helvetica, sans-serif;
}

h2 {
  line-height: 170%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

p {
  line-height: 170%;
}

/* Header Banner Home */
.home {
  padding: 100px 20px 100px;
  text-align: center;
  background-image: linear-gradient(to bottom right, #3eb991, #73d0b2);
  color: #fff;
}

.home h1 {
  margin: 0;
  font-size: 62px;
  padding-bottom: 40px;
}

.home-title {
  margin-top: 0;
}

.home .typing {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* About Me section */
.about-me {
  padding-top: 140px;
  padding-bottom: 140px;
}

.about-me h2 {
  text-align: center;
}

.item-photo-container {
  width: 100%;
  text-align: center;
}

.item-photo-container img {
  height: 235px;
  width: 235px;
  border-radius: 100%;
}

@media only screen and (min-width: 640px) {
  .about-me-flex {
    display: flex;
  }
  .item-photo-container {
    width: 235px;
    text-align: center;
  }
  .item-content-container {
    padding-left: 30px;
  }
  .item-content-container p:first-child {
    margin-top: 0;
  }
}

/* Projects Section */
.projects-container h2 {
  text-align: center;
}

.project {
  padding-top: 100px;
  padding-bottom: 100px;
}

.oui {
  padding-top: 20px;
}

.oui, .d3 {
  border-bottom: 2px solid #c4c4c4;
}

.tool-wrap {
  padding: 1px 4px 1px 0;
  border-right: 1px solid #333;
}

.project button {
  border: 1px solid black;
  background: transparent;
  border-radius: 3px;
  padding: 5px 20px;
  margin-right: 10px;
  font-size: 16px;
}

.project .description p:first-child {
  margin-top: 0;
}

.project .description p {
  margin-bottom: 20px;
}

.project-image-wrap {
  max-width: 420px;
}

.project-image-wrap img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
}

@media only screen and (min-width: 640px) {
  .project-wrap {
    display: flex;
    justify-content: space-between;
  }
  .project-wrap .description {
    width: 42%;
  }
  .project-image-wrap {
    text-align: right;
  }
}

/* Footer */
footer {
  background-image: linear-gradient(to bottom right, #3eb991, #73d0b2);
  color: #fff;
  text-align: center;
  padding-top: 20px;  
  padding-bottom: 2px;
  margin-top: 80px;
}

footer h1 {
  padding-top: 30px;
  font-size: 68px;
}

.contact-icon-bin i {
  font-size: 42px;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 60px;
  margin-top: 10px;
}

.btm-bin {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

footer a {
  display: block;
}

footer p {
  margin: 0;
}