* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

main {
  padding: 0 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Banner Home */
.home {
  text-align: center;
  min-height: 600px;
  margin-bottom: 50px;
  background-color: #3eb991;
  color: #fff;
}

.home .content button {
  background: #b93e66;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid #b93e66;
  color: #fff;
  border-radius: 3px;
}

.home h1 {
  font-family: 'Damion', Arial, Helvetica, sans-serif;
  padding-top: 80px;
  font-size: 68px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 40px;
}

.home .title-sub {
  padding-bottom: 50px;
}

.home .title-sub h2:first-child {
  margin: 0;
  padding-top: 20px;
}

.home .title-sub h2:nth-child(2) {
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}

.home .typing {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 70px;
}

.home .scroll-target {
  padding-top: 60px;
  display: block;
}

.home .scroll-target i {
  display: block;
}

@media only screen and (min-width: 640px) {
  .home {
    min-height: 450px;
  }
  .home h1 {
    padding-bottom: 0;
  }
  .home .title-sub {
    padding-bottom: 30px;
  }
  .home .title-sub h2:first-child {
    padding-top: 20px;
  }
  .home .title-sub h2:nth-child(2) {
    padding-top: 10px;
  }
  .home .scroll-target {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .home h1 {
    padding-top: 40px;
  }
  .home .typing {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .home .scroll-target {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/* About Me section */
.about-me {
  margin-bottom: 40px;
}

.about-me h2 {
  text-align: center;
}

.about-me-flex {
  display: flex;
  flex-wrap: wrap;
}

.item-photo-container {
  width: 100%;
  text-align: center;
}

.item-photo-container img {
  display: inline-block;
  height: 235px;
  width: 235px;
  border-radius: 100%;
  border: 2px solid #c4c4c4;
}

.projects-container h2 {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.project {
  padding-top: 20px;
  padding-bottom: 40px;
}

.oui, .d3 {
  border-bottom: 2px solid #c4c4c4;
}

.tool-wrap {
  padding: 1px 4px 1px 0;
  border-right: 1px solid black;
}

.project button {
  border: 1px solid black;
  background: transparent;
  border-radius: 3px;
  padding: 5px 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  font-size: 16px;
}

.project .description p {
  margin-bottom: 20px;
}

.project-image-wrap {
  max-width: 420px;
  margin: 0 auto;
}

.project-image-wrap img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #c4c4c4;
}

footer {
  background-color: #6ecadc;
  text-align: center;
  padding: 40px 20px;
  margin-top: 80px;
  color: #081d22;
}

footer a {
  display: block;
  text-align: right;
  margin: 50px 0 10px;
}

.contact-icon-bin i {
  font-size: 42px;
  display: inline-block;
  padding: 0 5px;
}